@page
@model Student_Management.Pages.Students.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Students</h2>

<p>
    <a class="btn btn-outline-primary" asp-page="Create">Register Student</a>
</p>
<table class="table table-striped table-primary">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].StudentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].ContactNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Student) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNumber)
            </td>
            <td>
                <a class="btn btn-outline-primary" asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-outline-primary" asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn btn-outline-primary" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
